body {
    margin: 0;
    overflow: hidden;
}
.div-body {
    width: 50rem;
    height: 20rem;
    overflow:hidden;
    margin: 0 auto;
}

.before-animation {
    position: fixed;
    left: 200rem;
}
.blackbackground {
    background-color: black;
}
.h2-styling {
    text-align: center;
    font-size: 6rem;
    color: white;
    position: relative;
    margin: 0 auto;
    top: 5rem;
    animation: glow 1s ease-in-out infinite alternate;
    cursor: pointer;
    opacity: 0.3s;
    transition: 0.5s;
     /* Alternate gör så att funktionen blir bakvänd när den är färdig!! Annars så hade man behövt lägga till fler steg i keyframes! */
}
.h2-styling2 {
    font-size: 4rem;
    text-align: center;
    color: white;
    position: relative;
    margin: 0 auto;
    top: 5rem;
    cursor: pointer;
    opacity: 0.3s;
    transition: 0.5s;
}

  @keyframes glow {
    from {
      text-shadow: 0 0 10px white, 0 0 5px white, 0 0 10px red, 0 0 15px red, 0 0 25px red,
        0 0 60px red, 0 0 70px red;
    }

    to {
      text-shadow: 0 0 15px white, 0 0 20px red, 0 0 25px red, 0 0 30px red, 0 0 35px red,
        0 0 70px red, 0 0 80px red;
    }
  }
  .hidden-from-right {
    position: relative;
    left: 0;
    animation: fromright 1s glow 1s ease-in-out infinite alternate;
    animation-duration: 1s;
    animation-iteration-count:1;
  }
  @keyframes fromright {
    from {
        position: relative;
        left: 200rem;
    }
    to {
        position: relative;
        left: 0 auto
    }
  }
.input-div {
    display: flex;
    justify-content: center;
}
input {
    top: 10rem;
    transition: 0.5s;
    position: relative;
    width: 20rem;
    height: 3rem;
    outline: none;
    font-size: 2rem;
}
.inputbutton, .readybutton {
top: 10rem;
position: relative;
font-weight: bold;
color: white;
background-color: red;
transition: 0.5s;
border: none;
cursor: pointer;
}
.inputbutton:hover, .readybutton:hover {
    background-color: rgb(193, 3, 3);
}

.scene2-div {
    display: flex;
    justify-content: center;
}
.readybutton {
    height: 3rem;
    position: relative;
    width: 6rem;
    top: 7rem;
    left: 1rem;
}
.message {
    position: relative;
    margin-top: 6rem;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    width: 38rem;
    transition: 0.5s;
}
.message-no-margin {
    margin-top: -5rem;
}


.axe-img {
    transform: rotate(-48deg);
    height: 20rem;
    cursor: pointer;
}
.bazooka-img {
    height: 15rem;
    cursor: pointer;
}
.weapons {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    transition: 1s;
    gap: 2rem;
}
.bazookagubbe-img {
    position: fixed;
    left: 5rem;
    height: 20rem;
    top: 30rem;
    transition: 1s;
}
/* .streckgubbe-animation {
    animation: killed forwards;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes killed {
    40% {
    transform: rotate(-60deg);   
}

} */

.pig {
    position: absolute;
    height: 20rem;
    left: 60rem;
    top: 20rem;
    z-index: 5;
    transition: 1s;
}
.piganimation {
    animation: berserk;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes berserk {
    0% {
        left: 60rem;
        top: 20rem;
    }
    40% {
        left: 10rem;
        top: 35rem;
    }
    50% {
        left: 12rem;
        top: 30rem;
    }
    60% {
        left: 14rem;
        top: 35rem;
    }
    100% {
        left: 60rem;
        top: 20rem;
    }
}

/* //////////////////////////////////////////////////////////////////////


animation: fromright 1s glow 1s ease-in-out infinite alternate;
animation-duration: 1s;
animation-iteration-count:1;
}
@keyframes fromright {
from {
    position: relative;
    left: 200rem;
}
to {
    position: relative;
    left: 0 auto
}
}

////////////////////////////////////////////////////////////////////////// */










.bomb {
    position: absolute;
    height: 15rem;
    left: 87rem;
    top: 25rem;
    z-index: 5;
    transition: 1s;
}
.hidden {
    opacity: 0;
    transition: 0.3s;
    cursor:default;
    z-index: -1;
}

.hiddenheight {
    /* top: -50rem; */
    transition: 1s;
    transform: scaleY(0);
    transform-origin: center center;
}
.display-none {
    display: none;
}
.aim {
cursor: crosshair;
}